body{
  font-family: 'Lato' , sans-serif;
  color:grey;
}

/*Buttons*/
i:hover{
  color:lightgrey;
  cursor: pointer;
}



/*Loading spinner*/
#spinner{
  border: 4px solid lightgrey;
  border-top: 4px solid grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  margin: auto;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*Header*/
.header{
  margin-left: 1%;
}

.header-main{
  font-family: 'Josefin Slab' , sans-serif;
  font-size : 300%;
  margin: 2% 0%;

}

.header-main a{
    text-decoration: none;
    color:grey;
}

.header-main a:hover{
    color:lightgrey;
}

.header-text{
  font-size: 150%;
  margin-bottom: 2%;
}

hr{
  margin: 5% 0%;
}

@media only screen and (min-width:992px) {
  .header-text{
    margin-bottom: 1%;
  }
  hr{
    margin: 1% 0%;
  }
}



/*First section(Input for video url)*/
.sec1{
  font-size: 150%;
  text-align: center;
}

.sec1 form{
  padding: 0% 10%;
}

.sec1 input , .sec1 i{
  border-radius: 0px;
  color:grey;
}

@media only screen and (min-width:768px) {
  .sec1 form{
    padding: 0% 15%;
  }
}

@media only screen and (min-width:992px) {
  .sec1 form{
    padding: 0% 20%;
  }
}


/*Second Section(Customisation options)*/
.sec2{
  display: none;
  color:grey;
  text-align: center;
  font-size: 150%;

}

.sec2 #main-video{
  margin: auto;
  display: none;

}

#video-title{
  display: none;
  margin-bottom: 1%;
}

.options{
  margin: 2% 0%;
  padding: 0% 2%;

  text-align: center;
}

@media only screen and (min-width:992px) {
  .options{
    text-align: left;
  }
}

/*Slider custom style*/
.slider-selection{
  background: lightgrey;
}
